body{
    background-color: red;
}

h1 {
    background-color: aqua;
    color: red;
}

p {
    background-color: blanchedalmond;
    color: blueviolet;
    font-family: cursive;
    border: solid 5px red;
    padding: 20px;
    margin: 30px;
}